.flexcontainer {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    flex: 25;
    background-color: lightblue;
    outline-style: solid;
    outline-color: black;
    outline-style: solid;
}

.middle {
    flex: 50;
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    outline-style: solid;
    outline-color: black;
}

.firstcolumn {
    background-color: lightseagreen;
    flex: 1;
    outline-style: solid;
    outline-color: black;
}

.firstcolumn ul {
    padding: 0;
}

ul li {
    list-style: none;
}

.middlecolumn {
    background-color: pink;
    flex: 2;
    outline-style: solid;
    outline-color: black;
}

.lastcolumn {
    background-color: lightseagreen;
    flex:1;
    outline-style: solid;
    outline-color: black;
}

footer {
    flex: 25;
    background-color: lightblue;
    outline-style: solid;
    outline-color: black;
}

@media only screen and (max-width: 800px) and (min-width: 501px) {
    .lastcolumn {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .middle {
        flex-direction: column;
        outline: none;
    }
    .header {
        flex: initial;
    }
    .middle {
        flex: initial;
    }
    .footer {
        flex: initial;
    }
}